---
import Layout from '@layouts/Layout.astro';
---

<Layout meta={{ title: 'XYZ' }}>
	<a href="https://nititech.de" target="_blank">
		IT & Softwareb<span class="bg-red-300">ü</span>ro Nitichevski
	</a>
</Layout>
