---
import { twMerge } from 'tailwind-merge';

type Props = {
	meta?: {
		title: string;
		description?: string;
	};
	children: any;
};

const { meta } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{meta?.title && <title>{meta.title}</title>}

		<meta name="description" content={meta?.description} />

		<link rel="canonical" href={Astro.url} />
	</head>

	<body
		class={twMerge(
			'h-screen min-h-screen',
			'flex items-center justify-center',
			'bg-stone-100',
			'text-stone-700',
		)}
	>
		<slot />
	</body>
</html>
